<%- layout('/layouts/boilerplate.ejs') %>
<div class="card-body text-center">
    <h2 class="card-title text-danger">No results found for "<%= query %>"</h2>
    <p class="card-text">Please try searching for another destination or check your spelling.</p>
    <a href="/listings" class="btn btn-primary">
      Back to Listings
    </a>
</div>
<style>
    .card-body {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        font-size: 1.2rem;
    }
</style>